body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Cambiado de 2em a 0 */
    padding: 0; /* Añadido para eliminar padding */
    color: #3d3d3d;
    width: 640px; /* Ancho fijo */
    height: 360px; /* Alto fijo */
    overflow: hidden; /* Evita scroll */
}

h1 { 
    color: #007f8b; 
    margin: 0; /* Eliminar márgenes */
    font-size: 20px; /* Ajustar tamaño si es necesario */
}

.videoView {
    position: relative;
    width: 640px; /* Ancho fijo */
    height: 360px; /* Alto fijo */
    max-width: 640px; /* Asegurar que no crezca */
}

video, .output_canvas, #staticImage {
    width: 640px;
    height: 360px;
    border-radius: 0; /* Opcional: eliminar bordes redondeados */
    /* Efecto espejo */
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.output_canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
}

#staticImage {
    object-fit: cover;
}

#webcamButton, #imageButton {
    margin: 0; /* Eliminar márgenes */
    width: 100%; /* Ocupar todo el ancho */
    height: 30px; /* Altura fija para el botón */
    font-size: 12px; /* Texto más pequeño */
}

#imageContainer {
    margin: 0; /* Eliminar márgenes */
}

#demos {
    width: 640px;
    height: 360px;
    position: relative;
}

#liveView {
    width: 640px;
    height: 360px;
}